---
import type { MarkdownHeading } from "astro";
interface Props {
  headings: MarkdownHeading[];
  baseTocLevel: number;
}

const { headings, baseTocLevel }: Props = Astro.props;
---

<>
  {
    headings
      .enumerate()
      .filter(([, h]) => h.depth === baseTocLevel)
      .map(([i, h]) => {
        const build = (level: number, start: number) => {
          const f = headings
            .enumerate()
            .slice(start + 1)
            .skipLater(([, h]) => h.depth < level)
            .filter(([, h]) => h.depth === level)
            .map(([i, h]) => (
              <li>
                <a href={`#${h.slug}`}>{h.text}</a>
                {build(h.depth + 1, i)}
              </li>
            ));

          return f.length !== 0 && <ul>{f}</ul>;
        };

        return (
          <li>
            <a href={`#${h.slug}`}>{h.text}</a>
            {build(h.depth + 1, i)}
          </li>
        );
      })
      .filter(Boolean)
  }
</>
