---
import NavBar from "../components/NavBar.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import Article from "../components/Article.astro";
import type { MarkdownHeading } from "astro";
import Index from "../components/Index.astro";
import Footer from "../components/Footer.astro";
import InfoHeader from "../components/InfoHeader.astro";
import type { z } from "astro:content";
import { postsSchema } from "../content/config";

interface Props {
  frontmatter: z.infer<typeof postsSchema>;
  headings: MarkdownHeading[];
  path: string[];
}

const { frontmatter, headings, path } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-base-200">
    <NavBar />
    <InfoHeader path={path} headings={headings} baseTocLevel={2} />
    <ArticleHeader title={frontmatter.title} />
    <div
      class="flex flex-col items-center lg:flex-row lg:justify-center lg:items-stretch gap-8 mb-8 lg:p-4"
    >
      <Article>
        <slot />
      </Article>
      <Index headings={headings} baseTocLevel={2} />
    </div>
    <Footer />
  </body>
</html>
